.content-caption {
  text-align: center;
  font-size: .8rem;
  color: light-grey;
}

.fancy-quote {
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-45%);
  -ms-transform: translateX(-45%);
  transform: translateX(-45%);
  position: relative;
  font-size: 1.5rem;
  color: light-grey;
  font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

